In [1]:
import pandas as pd

from sklearn.datasets import load_iris

In [2]:
data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df['species'] = pd.Categorical.from_codes(data.target, data.target_names)

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [7]:
target = 'species'
numerical = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
for c in df[target].unique():
    print(f'Class - `{c}`')
    print(df[df[target] == c][numerical].describe().loc[['mean', 'std']])

Class - `setosa`
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
mean            5.00600          3.428000           1.462000          0.246000
std             0.35249          0.379064           0.173664          0.105386
Class - `versicolor`
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
mean           5.936000          2.770000           4.260000          1.326000
std            0.516171          0.313798           0.469911          0.197753
Class - `virginica`
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
mean            6.58800          2.974000           5.552000           2.02600
std             0.63588          0.322497           0.551895           0.27465